<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.system.dao.MenuDao">
  <resultMap id="BaseResultMap" type="com.panda.system.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="isValid" jdbcType="BIT" property="isvalid" />
  </resultMap>
</mapper>