<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.system.dao.UserAuthDao">
  <resultMap id="BaseResultMap" type="com.panda.system.entity.UserAuth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="auth_type" jdbcType="CHAR" property="authType" />
    <result column="auth_flag" jdbcType="VARCHAR" property="authFlag" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>
</mapper>